<% if (messages && messages.length > 0) { %>
    <div class="alert alert-success">
        <% messages.forEach(m => { %>
            <p><%= m %></p>
        <% }) %>
    </div>
<% } %>

<% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger">
        <% errors.forEach(e => { %>
            <p><%= e %></p>
        <% }) %>
    </div>
<% } %>
